# Insert the following snippet into your project .npmrc

@ra:registry=https://us-central1-npm.pkg.dev/cube-machine-learning/rewiring-america-js-repo/
//us-central1-npm.pkg.dev/cube-machine-learning/rewiring-america-js-repo/:always-auth=true

@rewiringamerica:registry=https://registry.npmjs.org/